Body {
     background-color:pink;
}
h1 {
    text-aling: justify;
    color:red;
    font-family: consolas;
    font-size: 300%;
}
p  {
    color: orange;
    font-family: comic sans ms;
    text-alingn: justify;
    font-size: 100%;
 }
 Text  {
      text-aling: justify
      